div {
    padding: 20px;
    border: 1px solid;
}

.first {
    margin-bottom: 50px;
    border-color: aquamarine;
}

.second {
    margin-bottom: 50px;
    border-color: black;
}

.third {
    border-color: blue;
}
