@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12  {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

header {
    padding-top: 49px;
}

.justify-center {
    justify-content: center;
}

header nav a {
   color: #3d3d3d;
   text-decoration: none;
   margin-right: 36px;
}

header nav a:last-child {
  margin-right: 0;
}

.header-logo-col {
    margin-top: 51px;
}

.main-item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid #979797;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 49px;
    margin-bottom: 50px;
}
.main-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-item-img {
    width: 183px;
    height: 284px;
    margin-bottom: 36px;
}
.main-item-heading {
    font-size: 36px;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.main-item-price {
    font-size: 20px;
    color: #797979;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.main-item-btn {
    width: 100%;
    border: 1px solid #3d3d3d;
    padding: 15px 0;
    text-align: center;
    background-color: #f2f2f2;
    color: #3d3d3d;
    font-size: 20px;
    transition: 0.2s;
}

.main-item-btn:hover {
    cursor: pointer;
    background-color: #6E6E6E;
    color: white;
    transition: 0.2s;
}

.main-item-btn-dark {
    width: 100%;
    background-color: #3d3d3d;
    border: solid 1px #979797;
    padding: 15px 0;
    text-align: center;
    color: #b9b9b9;
    font-size: 20px;
    transition: 0.2s;
}

.main-item-btn-dark:hover {
    cursor: pointer;
    background-color: #616161;
    border: solid 1px #979797;
    color: white;
    transition: 0.2s;
}

.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid #C3BDBD;
    background-color: #F5F5F5;
    padding: 22px;
    margin-bottom: 20px;
}

.card-img {
  width: 138px;
  height: 200px;
  margin-bottom: 30px;
  display: flex;
  align-self: center;
}

.card-heading {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 20px;
}

.card-description {
  color: #878787;
  line-height: normal;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3d3d3d;
    padding: 40px 0;
    color: #ffffff;
    font-size: 14px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
  color: #ffffff;
  margin-right: 30px;
}

.footer-links a:last-child {
  margin-right: 0;
}

.rights {
    font-size: 12px;
}

@media(min-width: 768px) and (max-width: 990px) {
  .col-sm-1 {
    width: 8.333333%;
  }

  .col-sm-2 {
    width: 16.666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.333333%;
  }

  .col-sm-5 {
    width: 41.666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.333333%;
  }

  .col-sm-8 {
    width: 66.666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.333333%;
  }

  .col-sm-11 {
    width: 91.666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
    .desc {
    align-content: center;
    margin-left: 150px;
    margin-top: 30px;
    }
    
    
}

@media(max-width: 768px) {
   .col-xs-1 {
    width: 8.333333%;
  }

  .col-xs-2 {
    width: 16.666667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.333333%;
  }

  .col-xs-5 {
    width: 41.666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.333333%;
  }

  .col-xs-8 {
    width: 66.666667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.333333%;
  }

  .col-xs-11 {
    width: 91.666667%;
  }

  .col-xs-12 {
    width: 100%;
  }
    
    .desc {
    align-content: center;
    margin-left: 50px;
    margin-top: 30px;
    }

}

@media(max-width: 768px) {
    .container {
    padding: 10px;
  }
    
    header nav {
        display: flex;
        flex-direction: column;
  }
    header nav a {
        margin-bottom: 10px;
  }
    .footer-links {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
  }
    .footer-links a {
        margin-bottom: 10px;
  }
    .rights {
        margin-top: 10px;
    }
}


.product-bg {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid #979797;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 49px;
    margin-bottom: 50px;
}

.desc {
    flex-direction: column;
}

.item-description {
    max-width: 350px;
    margin-top: 0px;
    line-height: 1.5;
}

h2 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.prod {
    width: 252px;
    height: 395.4px;
}

li {
    margin-top: 18px;
    text-align: left;
    width: 260px;
    height: 24px;
    font-size: 14px;
}

.item-btn {
    width: 283px;
    border: 1px solid #3d3d3d;
    padding: 15px 0;
    text-align: center;
    background-color: #f2f2f2;
    color: #3d3d3d;
    font-size: 20px;
    transition: 0.2s;
    margin-top: 72px;
}

.item-btn:hover {
    cursor: pointer;
    background-color: #3d3d3d;
    color: #f2f2f2;
    transition: 0.2s;
}

ul {
    margin: 0px;
}

a { 
    text-decoration: none; 
    color: #b9b9b9;
}

.h2-popular-items {
    margin-bottom: 50px;
    margin-top: 50px;
}

.item-cards {
    justify-content: space-between;
}

.item-img {
    width: 111px;
    height: 178px;
    margin-bottom: 30px;
    display: flex;
    align-self: center;
}

.vk {
    width: 220px;
    height: 63px;
    background-color: #5f81a9;
}

.vk-img {
    display: block;
    margin: 0 auto;
}

.fb {
    width: 220px;
    height: 63px;
    background-color: #3a589c;
}

.fb-img {
    display: block;
    margin: 0 auto;
}

.tg {
    width: 220px;
    height: 63px;
    background-color: #419fd9;
}

.tg-img {
    display: block;
    margin: 0 auto;
}

.md {
    width: 220px;
    height: 63px;
    background-color: #00e272;
}

.md-img {
    display: block;
    margin: 0 auto;
}

.social-btns {
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}